body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
}

img {
    margin: 7% 0 0 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

td {
    padding: 3px;
}

.info {
    margin-left: 45%;
    margin-top: -46%;
}

.info table {
    margin-left: 2%;
    border: 2px solid rgb(125, 100, 50);
    padding: 10px;
}

.info p {
    width: 40%;
}